// 底下边框颜色
$border-bootm-color = #F7F7F7
// 字体的颜色
$color-theme = #2DBBFA
$color-666 = #666
$color-333 = #333
$color-999 = #999
// 字体的默认大小

$font-header = 17px
$font-l-mid = 16px
$font-mid = 15px
$font-s-mid = 14px
$font-small = 13px

// 侧滑按钮的宽度
$slide-btn-width = 65px

// 背景色
$approval-color = #47D09F
$delete-color = #F56767
$process-color = #2DBBFA
